extends layout

block content
  h1= title
  p Welcome to #{title}
  p Things also go here and jade is weird
  ul
  li things go here?
  li things go here 2?
  p yo man
  ul#messages
  form(action='')
    input#m(autocomplete="off")
    button Send